@{
    ViewBag.Title = "Owner Intro";
}

<h2>Movie List</h2>

<p>My name is Yueming. I am a computer science student and I come from China. Before I came here, I finished a Bachelor's Degree majoring in English back in my country.
   The reason that I chose to learn Computer science was because I have always been fond of logical thinking and good at Math. I like seeking the secret bonding among things.
    
    Lord please forgive me for my sin. </p>
